<div class="featured-cars-section">
    <div class="product-container">
        <div class="product-content">
            <h2 class="feature-cars__title display-4 text-dark text-center">
                Featured <span class="text-navy">Watch</span>
            </h2>
            <h3>

            </h3>
            <!-- Sidebar -->

            <div class="product__wrapper">

                <div class="sidebar">
                    <h4 class="text-dark">Search</h4>
                    <div class="mb-3 d-flex align-items-center">
                        <input id="search__bar__product" type="text" class="form-control form-product"
                            placeholder="Search by name" value="{{searchValue}}">
                        <button class="custom_button" onclick="javascript:handleSearch()">
                            <i class="fas fa-search"></i> <!-- Icon search -->
                        </button>
                    </div>
                    <h5 class="mt-4">Brand</h5>
                    <div id="brand-filter" class="filter-area btn-group-toggle" data-toggle="buttons">
                    </div>

                    <h5 class="mt-4">Price</h5>
                    <div class="price__range">
                        <input type="number" id="min-price" class="form-control" placeholder="Min">

                        <input type="number" id="max-price" class="form-control" placeholder="Max">
                    </div>

                    <h5 class="mt-4">Category</h5>
                    <div id="category-filter" class="filter-area btn-group-toggle" data-toggle="buttons">
                    </div>
                    <h5 class="mt-4">Sort</h5>
                    <div id="sort-filter" class="filter-area custom-radio-group">
                        <input type="radio" name="sort" id="sort_price_asc" class="custom-radio" {{#if (eqString
                            selectedSort "price_asc" )}}checked{{/if}}>
                        <label class="custom-label" for="sort_price_asc">Price ↑</label>

                        <input type="radio" name="sort" id="sort_price_desc" class="custom-radio" {{#if (eqString
                            selectedSort "price_desc" )}}checked{{/if}}>
                        <label class="custom-label" for="sort_price_desc">Price ↓</label>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <button id="button_filter" class="btn btn-warning" onclick="javascript:filterProducts()">
                            <i class="fas fa-filter"></i> <!-- Icon filter -->
                        </button>
                    </div>
                </div>

                <!-- Featured Cars -->
                <div class="featured-cars">

                    <hr class="newest-cars-divider">

                    <div id="product-page">
                        <div id="pagination">
                            <button class="custom_button" id="prev-btn" type="button" disabled> Previous</button>
                            <span id="page-info"></span>
                            <button class="custom_button" id="next-btn" type="button">Next</button>
                        </div>
                        <div class="cars-list">
                            <div id="loading-spinner" class="spinner hidden">
                                <div class="spinner-inner"></div>
                            </div>
                            <div id="items-container" class="cars-list">
                                {{#each products}}
                                <div class="card">
                                    <div class="card_img">
                                        <div class="card_img_fake1"></div>
                                        <a href="/product/{{this._id}}">
                                            <img src="{{this.productMainImage}}" class="card-img-top"
                                                alt="{{this.productName}}">
                                        </a>
                                    </div>

                                    <div class="card_content">
                                        <div class="card_price">
                                            <div class="card_price_fake">
                                                <div class="card_price_value">
                                                    {{formatCurrency this.productPrice}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card_detail">
                                            <div class="card_title">
                                                <a href="/product/{{this._id}}">
                                                    <h5 class="card-title">{{this.productName}}</h5>
                                                </a>
                                            </div>
                                            <div class="card_description">
                                                <p>{{this.productDescription}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{/each}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>