<div class="profile-container">
  <div class="profile-card">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a class="list-group-item active" data-toggle="list" href="#account-general">General</a>
          <a class="list-group-item" data-toggle="list" href="#account-update">Update Info</a>
        </div>
      </div>

      <div class="col-md-9">
        <div class="tab-content">
          <!-- General Tab -->
          <div class="tab-pane fade show active" id="account-general">
          <div class="text-center mb-4">
            {{#if profile.customerAvatar}}
              <img src="{{profile.customerAvatar}}" alt="Avatar" class="rounded-circle mb-2" style="width: 120px; height: 120px;">
            {{else}}
              <img src="https://avatar.iran.liara.run/public" alt="Default Avatar" class="rounded-circle mb-2" style="width: 120px; height: 120px;">
            {{/if}}
          </div>


            <div class="form-group">
              <strong>
                <label>Username</label>
              </strong>
              <p>{{profile.customerName}}</p>
            </div>

            <div class="form-group">
              <strong>
                <label>Email</label>
              </strong>
              <p>{{profile.customerEmail}}</p>
            </div>
          </div>

          <!-- Update Info Tab -->
          <div class="tab-pane fade" id="account-update">
            <!-- Update Avatar -->
            <form action="/setting/update-profile/avatar" method="post" enctype="multipart/form-data" class="mb-4">
              <div class="text-center">
                {{#if profile.customerAvatar}}
                  <img src="{{profile.customerAvatar}}" alt="Avatar" class="rounded-circle mb-2" style="width: 120px; height: 120px;">
                {{else}}
                  <img src="https://avatar.iran.liara.run/public" alt="Default Avatar" class="rounded-circle mb-2" style="width: 120px; height: 120px;">
                {{/if}}
                <div>
                  <label class="btn btn-primary">
                    Change Avatar
                    <input type="file" name="avatar" style="display: none;">
                  </label>
                  <button type="submit" class="btn btn-success">Save Avatar</button>
                </div>
              </div>
            </form>

            <!-- Update Name -->
            <form action="/setting/update-profile/name" method="post" class="mb-4">
              <div class="form-group">
                <label for="username">Name</label>
                <input type="text" id="username" name="username" class="form-control" value="{{profile.customerName}}">
              </div>
              <button type="submit" class="btn btn-success">Save Name</button>
            </form>

            <!-- Update Email -->
            <form action="/setting/update-profile/email" method="post">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" value="{{profile.customerEmail}}">
              </div>
              <button type="submit" class="btn btn-success">Save Email</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


